#contato-area {
  margin-top: -3%;
}

#contato-area .col-md-4 {
  margin-bottom: 100px;
}

.telefone-contato p,
.email-contato p {
  text-align: center;
}

.telefone-contato p i,
.email-contato p i {
  font-size: 30px;
  padding-right: 5px;
}

/* Redes */

.redes-contato ul {
  padding: 0px;
  text-align: center;
}

.redes-contato ul li {
  display: inline;
  list-style: none;
}

.redes-contato ul li i {
  color: #000;
  font-size: 50px;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 8px;
  margin: 0 6px;
}

.redes-contato ul li i:hover {
  text-decoration: none;
  color: #939090;
  background-color: transparent;
  border-color: #939090;
}

/* Formulario */

.form-control {
  border: 2px solid #000;
  width: 80%;
}

/* Localização */

.contato-mapa iframe {
  width: 100%;
  height: 400px;
}

/* Responsivo */

@media (max-width: 768px) {
  .redes-contato ul li i {
    color: #000;
    font-size: 40px;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 0 6px;
  }
}

@media (max-width: 425px) {
  #contato-area .col-md-4 {
    margin-bottom: 50px;
  }

  .contato-mapa {
    margin-top: 50px;
  }
}
