li {
  list-style-type: none;
}

.vantagens-sobre ul li {
  display: inline;
}

#autor {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .main-title:after {
    width: 15%;
  }

  #autor {
    height: 65%;
  }
}
@media (max-width: 425px) {
  .main-title-preto:after {
    left: 142px;
    width: 30%;
  }

  #autor {
    height: 100%;
  }

  .vantagens-sobre {
    padding-top: 50px;
  }
}
