/* Gerais */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav,
footer {
  background-color: black;
}

.row {
  margin: 0;
}

#header .container {
  padding: 57px 0;
}

#main {
  padding-top: 60px;
}

.main-title {
  color: #fff;
  margin: 0 0 40px 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.main-title-preto {
  color: #000;
  margin: 20px 0 40px 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.main-title:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  background: #fff;
  position: relative;
  left: 42.5%;
  margin-top: 8px;
}

.main-title-preto:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  background: #000;
  position: relative;
  left: 42.5%;
  margin-top: 8px;
}

.submain-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.main-btn {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: 0.5s;
}

.main-btn-preto {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: 0.5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.main-btn-preto:hover {
  text-decoration: none;
  color: #000;
  background-color: transparent;
  border-color: #000;
}

/* Header */

#nav-container .navbar {
  height: 115px;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  padding-left: 20px;
}

#navbar-links .nav-item {
  font-size: 20px;
  font-weight: bold;
}

#navbar-links .nav-item a {
  color: white;
}

#navbar-links .nav-item a:hover {
  color: #939090;
}

#navbar-links .navbar-nav {
  padding: 10px 20px;
}

.nav-item {
  padding-right: 15px;
}

#navbar-links ul li a.menu_ativo {
  color: #939090;
}

/* Main */

#title-carousel .main-title-preto {
  margin-top: 500px;
}

/* Slider */

.container-fluid {
  padding: 0;
}

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
  height: 100vh;
}

.image1 {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

#carouselExampleCaptions .carousel-caption {
  top: 30%;
}

#carouselExampleCaptions .carousel-caption h2 {
  font-size: 50px;
  text-shadow: 3px 2px #000;
  margin-bottom: 30px;
  position: relative;
  top: -200px;
}

#carouselExampleCaptions .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #fff;
}

.carousel-indicators .active {
  background-color: #fff;
}

#carouselExampleCaptions .carousel-caption a {
  position: relative;
  top: 50%;
}

/* Produtos */

#home-portfolio .card {
  margin-bottom: 50px;
}

#home-portfolio img {
  width: 300px;
  height: 447px;
}

#home-portfolio .div-botao {
  height: 40px;
  margin-bottom: 40px;
}

/* Sobre */

#home-sobre {
  height: 500px;
}

#home-sobre .container-fluid,
#home-sobre .row {
  height: 100%;
}

#home-sobre .div-sobre {
  text-align: center;
  padding: 70px 50px;
}

#company-img {
  background-image: url("../img/produto-4.jpeg");
  background-size: cover;
  height: 100%;
}

#company-sobre {
  background-color: #000;
}

#company-sobre h4,
#company-sobre p {
  color: #fff;
}

#company-sobre h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#company-sobre p {
  margin-bottom: 20px;
}

#id-btn {
  margin-top: 80px;
}

/* Video */

#home-video {
  margin-top: 60px;
}

/* Footter */

#footer-area {
  padding: 10px 0px;
  margin-top: 80px;
  max-width: 100%;
}

#footer-area .submain-title {
  margin-bottom: 8px;
}

#footer-area p {
  color: #fff;
  text-align: center;
}

#footer-area ul {
  padding: 0px;
}

.menu-footer li {
  list-style: none;
  text-align: center;
}

#footer-area li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.form-control {
  margin-bottom: 20px;
}

#footer-area .contato-icones p i {
  font-size: 30px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

#footer-area .contato-icones p {
  margin-bottom: 20px;
}

#footer-area .redes-footer ul {
  text-align: center;
}

#footer-area .redes-footer li {
  display: inline;
  margin: 0px 10px;
}

#footer-area i {
  color: #fff;
  font-size: 50px;
}

#footer-area ul li i:hover,
#footer-area ul li a:hover {
  text-decoration: none;
  color: #939090;
}

/* Copy */

#copy-area {
  background-color: #0d0d0e;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
}

#copy-area .container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#copy-area .container a:hover {
  color: #939090;
}

/* Responsive */

@media (max-width: 768px) {
  /* geral */

  .container-fluid {
    width: 768px;
  }

  .container {
    padding: 20px 0;
  }

  /* slider */

  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }
}
