/* Gerais */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.row {
  margin: 0;
}

.container {
  padding: 57px 0;
}

.main-title {
  color: #fff;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title:after {
  content: "";
  border-top: 2px solid #fff;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.submain-title {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.main-btn {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: 0.5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/* Header */

#nav-container .navbar {
  height: 115px;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  padding-left: 20px;
}

#navbar-links .nav-item {
  font-size: 20px;
  font-weight: bold;
}

#navbar-links .nav-item a {
  color: white;
}

#navbar-links .nav-item a:hover {
  color: #939090;
}

#navbar-links .navbar-nav {
  padding: 10px 20px;
}

.nav-item {
  padding-right: 15px;
}

#navbar-links ul li a.menu_ativo {
  color: #939090;
}

/* Main */

/* Slider */

.container-fluid {
  padding: 0;
}

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
  height: 90vh;
}

#carouselExampleCaptions .carousel-caption {
  top: 30%;
}

#carouselExampleCaptions .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#carouselExampleCaptions .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #fff;
}

.carousel-indicators .active {
  background-color: #fff;
}

/* Footter */

#footer-area p {
  color: #fff;
  text-align: center;
}

.form-control {
  margin-bottom: 20px;
}

#footer-area .contato-icones p i {
  font-size: 30px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

#footer-area .contato-icones p {
  margin-bottom: 20px;
}

#footer-area i {
  color: #fff;
  font-size: 70px;
}

#footer-area ul li i:hover {
  text-decoration: none;
  color: #939090;
}

#footer-area li {
  display: inline;
  margin: 0px 15px;
}

#footer-area ul {
  text-align: center;
}

/* Copy */

#copy-area {
  background-color: #212529da;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
}

#copy-area .container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#copy-area .container a:hover {
  color: #939090;
}
